@{
    ViewBag.Title = "Health Catalyst - Assignment";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "searchResults",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divWaiting"
    };
}




<div>
    <h1>Search for Person</h1>
    @using (Ajax.BeginForm("SearchPerson", options))
    {
        <div id="divWaiting" style="color:red;width:200px;background-color:yellow;font-size:larger;display:none;position:absolute;">Loading ....</div>
        <div>
            @Html.TextBox("search", null, new { @class = "form-control" })
            <button type="submit"><span class="glyphicon glyphicon-search">Search</span></button>
        </div>
    }
    @*<input id="searchText" type="text" />
        <button id="performNameSearch" class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>*@
</div>

<div>
    <h1>Search Results</h1>
    <table id="tblResults" class="table-striped table-responsive">
        <thead>
        <th style="display:none;">Pic</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Street Address </th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Intrests</th>
        </thead>
        <tbody id="searchResults">
            @Html.Action("SearchPerson", new { search = "" })
        </tbody>
    </table>



</div>
<div>
    @Html.Action("InsertPerson")
</div>