@{
    ViewBag.Title = "Health Catalyst - Assignment";
}

<script src="~/Scripts/person.search.js"></script>


<div class="container">
    <h1>Search for Person</h1>
    <div >
        <input type="text" id="search" class="col-md-3" />
        <button id="performSearch" type="submit" class="col-md-4"><span class="glyphicon glyphicon-search">Search</span></button>
        <button id="performSearchLong" type="submit" class="col-md-4" ><span class="glyphicon glyphicon-search">Search - Long Running</span></button>
    </div>
</div>

<div>
    <h1>Search Results</h1>
    <table id="tblResults" class="table-striped table-responsive">

        <thead>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Street Address </th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Intrests</th>
        </thead>
        <tbody id="searchResults"></tbody>
    </table>

    <div id="searchError">
        <h2>Search Yeilded No Results!</h2>
    </div>


</div>
<div class="modal"></div>
